* {
    color: #fff;
    scroll-behavior: smooth;
}

body {
    background-color: #000;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #222;
}

@media only screen and (max-width: 1278px) {
    body {
        overflow-y:auto;
        
    }
}