* {
    color: #fff;
    scroll-behavior: smooth;
}

body {
    background-color: #000;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #222;
}

h1,
h2,
h3 {
    font-family: 'Oxygen', sans-serif;
}

p {
    font-family: 'Ubuntu', sans-serif;
}

@media only screen and (max-width: 1278px) {
    body {
        overflow-y:auto;
        
    }
}