//
// Layout
//
// Larger layout items that contain base elements are styled here, such as <header>,
// <main>, <footer>, and BEM classes.
// example.
//

#container-header {
    display: flex;
    height: 80px;

    a {
        margin: 10px;

        img {
            height: 65px;
        }
    }

    div {
        margin-left: auto;
        margin: auto 0 auto auto;

        a {
            padding: 40px 25px 33px;
        }

        :hover {
            transition-duration: .5s;
            background-color: aqua;
        }
    }
}

* {
    color: #fff;
}